

/* - - - - - FORM STYLES - - - - - */


form > * {
    display: block;
}
form {
    width: 75%;
    margin: 3rem auto;
}
label {
    margin-bottom: 1rem;
}
label, button {
    font-weight: 700;
}
label:not(:first-child), button {
    margin-top: 3rem;
}
input, textarea {
    outline: none;
    border: none;
    background-color: rgb(240, 240, 240);
    width: 100%;
}
input:focus, textarea:focus {
    background-color: white;
    outline: rgb(185, 185, 185) solid 3px
}
input {
    height: 3rem;
}
textarea {
    height: 12rem;
}
.error {
    font-weight: 700;
    color: red;
}
button {
    margin: 3rem auto;
    border: none;
    padding: 1rem 3rem;
}
button:active {
    color: white;
    background-color: rgb(17, 98, 145);
}

/* - - - - - MEDIA QUERIES - - - - - */

