
#splash {
    margin-bottom: 1rem;
}

/* - - - - - FORM STYLES - - - - - */


form {
    grid-column: 2 / 12;
}
.container:not(:first-child) {
    margin-top: 2rem;
}
label, button {
    font-weight: 700;
}
input, textarea {
    outline: none;
    border: none;
    background-color: rgb(240, 240, 240);
    width: 100%;
    margin-top: 1rem;
}
input:focus, textarea:focus {
    background-color: white;
    outline: rgb(185, 185, 185) solid 3px;
}
input {
    height: 3rem;
}
textarea {
    height: 12rem;
    resize: vertical;
}
.error {
    font-weight: 700;
    color: red;
}
button {
    display: block;
    margin: 3rem auto;
    border: none;
    padding: 1rem 3rem;
}
button:active {
    color: white;
    background-color: rgb(17, 98, 145);
}

/* - - - - - MEDIA QUERIES - - - - - */

@media (min-width: 800px) {
    form {
        display: grid;
        grid-template-columns: repeat(10, fr);
    }
    #user-name {
        grid-column: 1 / 3;
    }
    #user-email {
        grid-column: 4 / 11;
        margin-top: 0;
    }
    #user-msg {
        grid-column: 1 / 11;
    }
}