

/* - - - - - GLOBAL STYLES - - - - - */

html {
    font-size: 14px;
}
* {
    box-sizing: border-box;
}
h1, h2, h3 {
    font-family: 'Playfair Display', cursive;
}
h4, p, ul, label, button, input, textarea {
    font-family: 'Lora', serif;
}
h4, span {
    font-weight: 700;
    font-size: 1.2rem;
}
p, ul {
    font-weight: 400;
}
ul, li {
    padding-inline-start: 0;
    list-style-type: none;
}
a {
    text-decoration: none;
    color: initial;
}
a:hover {
    opacity: 50%;
}




/* - - - - - GRID SETUP - - - - - */

header {
    grid-area: header;
}
#splash {
    grid-area: splash;
}
#highlights {
    grid-area: highlights;
}
#carousel {
    grid-area: carousel;
}
#container {
    grid-area: container;
}
footer {
    grid-area: footer;
}
body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "header"
    "splash"
    "highlights"
    "container"
    "footer"
    ;
}


/* - - - - - NAV STYLES - - - - - */

header {
    z-index: 1;
    padding: 3rem 0 0 0;
    grid-row-start: 1;
    grid-row-end: 2;
}
nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 230px;
    margin: auto;
}
#site-title {
    font-family: 'Alfa Slab One', cursive;
    font-size: 1.7rem;
    letter-spacing: 2px;
    text-align: center;
}
nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 1rem 0 0;
}
nav li {
    padding: 0 1rem;
}
nav a, nav ul {
    color: white;
}




/* - - - - - SPLASH STYLES - - - - - */


#splash {
    grid-row-start: 1;
}
#hero {
    position: relative;
    background-color: rgba(17, 98, 145, 85%);
    height: 400px;
}
#hero::after {
    content: "";
    background: url("../images/hero-culdesac.jpg");
    filter: grayscale();
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    opacity: 100;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}
#text-overlay {
    position: relative;
    top: 60%;
}
#hero h1, #hero h4 {
    text-align: center;
    color: white;
}
#splash-text, #hero h1, #hero h4 {
    width: 75%;
    margin: auto;
}
#hero h1 {
    font-size: 3rem;
}
#hero h4 {
    margin-top: .5rem;
}
#splash-text {
    margin-top: 6rem;
}


/* - - - - - FOOTER STYLES - - - - - */

footer {
    grid-row-end: -1;
    height: max-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    padding-bottom: .75rem;
}
footer p {
    width: 100%;
    text-align: center;
    font-size: x-small;
}
footer img {
    width: 2rem;
    height: 2rem;
    margin: .5rem;
}
footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
}

/* - - - - - MEDIA QUERIES - - - - - */

/* @media (min-width: 700px) {

    body {
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 1fr;
    }
    nav {
        max-width: initial;
        align-items: baseline;
        justify-content: space-between;
    }
    nav ul {
        width: 200px;
        justify-content: space-between;
    }
    nav li {
        padding: 0 0;
    }
    footer {
        justify-content: space-between;
        align-items: center;
    }
    footer p {
        width: max-content;
    }
} */