/* -----------------------------------------
--------------------------------------------
THESE ARE STYLES ASSOCIATED ----------------
WITH ALL PAGES ON THIS SITE ----------------
--------------------------------------------
----------------------------------------- */



/* -----------------------------------------
--------------------------------------------
TEXT STYLES --------------------------------
--------------------------------------------
----------------------------------------- */

html {
    font-size: 14px;
}
* {
    box-sizing: border-box;
}
h1, h2, h3, span {
    font-family: 'Playfair Display', cursive;
}
h4, p, ul, label, button, input, textarea {
    font-family: 'Lora', serif;
}
h4, span {
    font-weight: 700;
    font-size: 1.2rem;
}
p, ul {
    font-weight: 400;
}
ul, li {
    padding-inline-start: 0;
    list-style-type: none;
}
a {
    text-decoration: none;
    color: initial;
}

/* -----------------------------------------
--------------------------------------------
CSS GRID SETUP -----------------------------
--------------------------------------------
----------------------------------------- */

body {
    min-height: 100vh;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: max-content max-content 1fr max-content max-content;
    column-gap: 1rem;
}
header, footer {
    grid-column: 2 / 12;
}
#splash {
    grid-column: 1 / -1;
}

/* -----------------------------------------
--------------------------------------------
NAV STYLES ---------------------------------
--------------------------------------------
----------------------------------------- */

header {
    z-index: 2;
    padding: 3rem 0 0 0;
    grid-row-start: 1;
    grid-row-end: 2;
    height: max-content;
}
nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 230px;
    margin: auto;
}
#site-title {
    font-family: 'Alfa Slab One', cursive;
    font-size: 1.7rem;
    letter-spacing: 2px;
    text-align: center;
}
nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 1rem 0 0;
}
nav li {
    padding: 0 1rem;
}
nav a, nav ul {
    color: white;
}
nav a {
    padding: 0 0 15px;
    position: relative;
  }
nav a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    height: 6px;
    left: 50%;
    position: absolute;
    background: white;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  nav a:hover:after { 
    width: 100%; 
    left: 0; 
  }

/* -----------------------------------------
--------------------------------------------
SPLASH STYLES ------------------------------
--------------------------------------------
----------------------------------------- */

#splash {
    grid-row-start: 1;
    height: max-content;
    margin-bottom: 3rem;
}
#hero {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
    background-color: rgba(17, 98, 145, 85%);
    height: 50vw;
    min-height: 400px;
    max-height: 700px;
}
#hero::after {
    content: "";
    background: url("../images/hero-culdesac.jpg");
    filter: grayscale();
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    opacity: 15%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 0;   
}
#text-overlay {
    grid-column: 2 / 12;
    position: relative;
    height: max-content;
    top: 60%;
    z-index: 1;
}
#hero h1, #hero h4 {
    text-align: center;
    color: white;
}
#hero h1, #hero h4 {
    margin: auto;
}
#hero h1 {
    font-size: 3rem;
}
#hero h4 {
    margin-top: .5rem;
}
#splash-text p {
    margin-top: 0;
}
/* -----------------------------------------
DROP CAP -----------------------------------
----------------------------------------- */
#splash-text span {
    font-size: 4rem;
    display: block;
    float: left;
    line-height: 3rem;
    margin: 0 1rem 1rem 0;
    color: rgb(17, 98, 145);
}

/* -----------------------------------------
--------------------------------------------
FOOTER STYLES ------------------------------
--------------------------------------------
----------------------------------------- */

footer {
    grid-row-end: -1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    padding: 3rem 0;
}
footer p {
    width: 100%;
    text-align: center;
    font-size: x-small;
}
footer img {
    width: 2rem;
    height: 2rem;
    margin: .5rem 1rem;
}
footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
}
footer img { 
    transition: transform .1s ease-in-out; 
}
footer img:hover { 
    transform: scale(1.75); 
}

/* -----------------------------------------
--------------------------------------------
MEDIA QUERIES ------------------------------
--------------------------------------------
----------------------------------------- */

@media (min-width: 500px) {

    nav {
        max-width: initial;
        align-items: baseline;
        justify-content: space-between;
    }
    nav ul {
        width: 150px;
        justify-content: space-between;
    }
    nav li {
        padding: 0 0;
    }
    #text-overlay {
        top: 55%;
    }
    #hero h1, #hero h4 {
        text-align: left;
    }
    #hero h1 {
        font-size: 4rem;
    }
    #hero h4 {
        font-size: 1.25rem;
    }
    #splash {
        margin-bottom: 4rem;
    }
    #splash-text span {
    font-size: 5rem;
    line-height: 4rem;
    }
    footer {
        margin: unset;
        justify-content: space-between;
        align-items: center;
    }
    footer p {
        width: max-content;
    }
}

@media (min-width: 800px) {
    body {
        background-color: white;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    }
    #splash {
        margin-bottom: 6rem;
    }    
    #hero h1 {
        transform: translateY(12rem);
        animation: up 700ms ease-out forwards;
        opacity: 0%;
    }
    #hero h4 {
        transform: translateY(6rem);
        animation: up 1500ms ease-out forwards;
        opacity: 0%;
    }
    #text-overlay {
        overflow: hidden;
    }
    @keyframes up {
        100% {
            transform: translateY(0);
            opacity: 100%;
        }
    }
    #splash-text p {
        margin-top: 0;
    }
}

@media (min-width: 1200px) {
    html {
        background-image: linear-gradient(rgb(17, 98, 145), rgb(255, 251, 235));
    }
    #hero h1 {
        font-size: 5rem;
    }
    #hero h4 {
        font-size: 1.5rem;
    }
    #text-overlay {
        top: 50%;
    }
    #splash-text p {
        font-size: 1.2rem !important;
        line-height: 1.75rem !important;
    }
    #splash-text span {
        font-size: 8rem;
        line-height: 5.25rem;
    }
}