
/* - - - - - GLOBAL STYLES - - - - - */

* {
    box-sizing: border-box;
    font-size: 14px;
}

h1, h2, h3 {
    font-family: 'Playfair Display', cursive;
    text-align: center;
}

h4, p, ul {
    font-family: 'Lora', serif;
}

h4 {
    font-weight: 700;
    font-size: 1.25rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

p, ul {
    font-weight: 400;
}

ul, li {
    padding-inline-start: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: initial;
}

a:hover {
    opacity: 50%;
}

nav, footer {
    margin: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}


/* - - - - - NAV STYLES - - - - - */

nav {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

#site-title {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Alfa Slab One', cursive;
    font-size: 2rem;
    letter-spacing: 1px;
    text-align: center;
    align-self: center;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-bottom: 0;
}

nav ul a {
    text-transform: uppercase;
    margin-right: 1rem;
    margin-left: 1rem;
}


/* - - - - - FOOTER STYLES - - - - - */

footer {
    margin-top: 6rem;
}

footer img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-right: .5rem;
}

footer ul {
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

footer li {
    padding-right: .75rem;
    padding-left: .75rem;
    line-height: 3rem;
}

footer a {
    display: flex;
    align-items: center;
}

footer p {
    font-size: x-small;
    text-align: center;
    margin-top: 3rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    border-top: 1px dotted rgb(168, 168, 168);

}


/* - - - - - MEDIA QUERIES - - - - - */

@media (max-width: 300px) {

    #site-title {
        margin-bottom: 1rem;
    }

    nav ul {
        flex-direction: column;
        text-align: center;
    }

    nav li {
        margin-bottom: 1rem;
    }
}

@media (max-width: 699px) {

    nav, footer {
        max-width: 450px;
    }
}

@media (min-width: 700px) {

    nav, footer {
        max-width: 700px;
    }

    nav {
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 1rem;
    }

}

@media (min-width: 1000px) {

    nav {
        position: relative;
        z-index: 1;
    }

    /* nav a {
        color: white;
    } */

}