/* Global Styles */

* {
    box-sizing: border-box;
    font-size: 14px;
}


/* XXXXXXXXX */

h1,
h2,
h3,
p,
li {
    font-family: 'Lora';
    margin: 0;
}

h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
}

h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
}

h3, 
li {
    font-style: italic;
    font-weight: 500;
    font-size: 1rem;
}

p {
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
}

body {
    padding-left: 2rem;
    padding-right: 2rem;
}



/* Class Selectors */

.intro {
    padding-top: 2rem;
}

.outer-section {
    padding-bottom: 1rem;
    border-bottom: 1px solid black;
}

.section-id, .job-title {
    display: inline-block;
}

.list-content ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.list-content ul li {
    display: inline-block;
    margin-right: 1rem;

}

.section-id {
    padding-top: 1rem;
}

.inner-section {
    display: block;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0;
    border-top: 1px dashed rgb(180, 180, 180);
}

.list-content {
    max-height: 0;
    overflow: hidden;
}

/* Psuedo Selectors */

.inner-section:last-child {
    /* Reset to 0 is the extra space doesn't work */
    padding-bottom: 1rem; 
}

/* Toggle Effect */

input:checked ~ .list-content {
    max-height: 100%;
    padding-top: 1rem;
}

