

#splash-text {
    height: max-content;
    grid-column: 2 / 12;
    margin-bottom: 2rem;
}

/* - - - - - IMAGE CAROUSEL - - - - - */

#carousel {
    max-width: 300px;
    margin: auto;
}
#slides {
    max-height: 300px;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;;
}
#slides > *, .slide {
    height: 100%;
}
#slides > * {
    scroll-snap-align: center;
}
#slide-nav {
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;
}
#slide-nav a {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 5px;
    background: rgb(150, 150, 150);
}

/* - - - - - STORY HIGHLIGHTS - - - - - */

#mod01, #mod02 {
    grid-column: 2 / 12;
}
#mod01 {
    margin-bottom: 3rem;
    padding: 3rem 0;
    border-top: 1px dotted rgb(168, 168, 168);
    border-bottom: 1px dotted rgb(168, 168, 168);
}
.highlights h2 {
    margin: 0 0 3rem;
    text-align: center;
}
.storymod {
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-bottom: 1px dotted rgb(168, 168, 168);
}
.storymod a {
    display: flex;
    align-items: center;
}
.storymod img {
    width: 100px;
    height: 100px;
    margin: 0 1rem 0 0
}
.storymod:first-child {
    padding-top: 0;
}
.story h4, .story p {
    margin: 0;
    text-align: left;
}
.story h4 {
    margin-bottom: 1rem;
}


/* - - - - - MEDIA QUERIES - - - - - */

@media (min-width: 800px) {
    #hero h1 {
        font-size: 7rem;
    }
    #text-overlay {
        top: 50%;
    }
    #mod01 {
        grid-column: 8 / 12;
        grid-row: 2 / 3;
        padding: 0;
        margin-bottom: 6rem;
        border: 0;
    }    
    #mod02 {
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: max-content max-content;
        background-color: rgb(245, 245, 245);
        /* margin-bottom: 3rem; */
        height: max-content;
    }
    #splash-text {
        grid-column: 2 / 7;
    }
    #mod02 h2 {
        /* padding-top: 6rem; */
        grid-column: 2 / 12;
        grid-row: 1 / 2;
    }
    .highlights {
        padding: 4rem 0;
    }
    #storyhighlights {
        grid-column: 2 / 12;
        grid-row-start: 2;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 3rem;
        margin-bottom: 0;
    }
    .storymod a {
        flex-direction: column;
    }
    .storymod {
        margin: 0 0;
        padding: 0;
        border-bottom: 0;
    }
    .storymod img {
        width: 100%;
        height: unset;
        margin: 0;
        padding: 0 0 2rem;
    }
}

@media (min-width: 1200px) {
    #text-overlay {
        grid-column: 2 / 12;
    }
    #hero h1, #hero h4 {
        text-align: left;
    }
    #hero h1 {
        font-size: 9rem;
    }
}