


/* - - - - - IMAGE CAROUSEL - - - - - */

#carousel {
    max-width: 300px;
    margin: auto;
}
#slides {
    max-height: 300px;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;;
}
#slides > *, .slide {
    height: 100%;
}
#slides > * {
    scroll-snap-align: center;
}
#slide-nav {
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;
}
#slide-nav a {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 5px;
    background: rgb(150, 150, 150);
}



/* - - - - - STORY HIGHLIGHTS - - - - - */

#highlights h2 {
    margin: 3rem 0;
    text-align: center;
}
#highlights {
    grid-row-start: 3;
    margin: 3rem 0;
}
#storyhighlights {
    width: 75%;
    margin: 6rem auto 3rem;
}
.storymod {
    margin: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-bottom: 1px dotted rgb(168, 168, 168);
}
.storymod:first-child {
    padding-top: 0;
}
.storymod:last-child {
    border-bottom: 0;
    padding-bottom: 0;
}
/* .storymod img {
    width: 100%;
    max-width: 100px;
    max-height: 100px;
    margin-right: 1rem;
} */
.story h4, .story p {
    margin: 0;
    text-align: center;
}
.story h4 {
    margin-bottom: 1rem;
}


/* - - - - - MEDIA QUERIES - - - - - */

