


/* - - - - - - - - - - - */

h2 {
    text-align: center;
}
main, aside {
    grid-column: 2 / 12;
}
#awards {
    margin-top: 6rem;
}


/* - - - - - DETAILS SUMMARY STYLES - - - - - */

#splash-text {
    grid-column: 2 / 12;
}
summary::marker {
    display: none; 
}
details span::before { 
    content: '\00002b'; 
    color: rgb(17, 98, 145);
}
details[open] span::before { 
    content: '\002212'; 
    color: rgb(17, 98, 145);
}
summary:hover {
    cursor: pointer;
}
summary:focus {
    outline: none;
}
summary {
    text-align: center;
    list-style: none;
}
summary p, details p {
    margin-bottom: 0;
}
summary p {
    margin-top: .25rem;
}
details, #awards li {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-top: 1px dotted rgb(168, 168, 168);
}
details:last-child, #awards li:last-child {
    border-bottom: 1px dotted rgb(168, 168, 168);
}
#skills ul {
    text-align: center;
}
#skills ul li {
    display: inline-block;
    cursor: pointer;
    padding: .5rem;
    color: white;
    background-color: rgb(17, 98, 145);
    margin-bottom: .25rem;
}
#skills ul li:hover {
    background-color: rgb(65, 65, 65);
    transition: .25s;
} 



/* - - - - - MEDIA QUERIES - - - - - */

@media (min-width: 800px) {
    #splash-text {
        grid-column: 2 / 8;
        grid-row-start: 2;
        height: max-content;
    }
    main {
        grid-column: 2 / 8;
        height: max-content;
    }
    aside {
        grid-column: 9 / 12;
        grid-row: 2 / 4;
    }
}