

body {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

main {
    padding: 0;
}

.container {
    margin-bottom: 3rem;
}

h4 {
    margin: 0;
}

.collapsible-list > li {
    cursor: pointer;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: 1px dotted rgb(168, 168, 168);
}

.collapsible-list:last-child {
    border-bottom: 1px dotted rgb(168, 168, 168);
}

.collapsible-list li ul {
    display: none;
    padding-top: 1rem;
}

.collapsible-list > li::first-line {
    font-size: 1.25rem;
    font-weight: 500;
}